.buy {
  min-height: 1084px;
  padding-top: 125px;
  padding-bottom: 256px;
  background-image: url("../public/img/buy/buy_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    min-height: auto;
    padding-top: 54px;
    padding-bottom: 37px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../public/img/buy/buy_bg_mobile.jpg");
  }
}

.buy__site-map {
  width: min(1586px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 40px;
  display: flex;
  gap: 57px;
  align-items: center;
  font-weight: 900;
  font-size: 40px;
  color: #fff;
  text-wrap: nowrap;
  text-transform: capitalize;

  @media screen and (max-width: 768px) {
    display: none;
  }

  div {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
}

.buy__title {
  margin-bottom: 18px;
  display: none;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.buy__phases {
  @media screen and (max-width: 768px) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    border: 1px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(13px);
    background: rgba(0, 0, 0, 0.25);
  }
}

.buy__phase-1,
.buy__phase-2,
.buy__phase-3 {
  padding: 44px;
  border: 2px solid #fff;
  border-radius: 32px;
  backdrop-filter: blur(16px);
  background: rgba(0, 0, 0, 0.25);
  position: absolute;

  @media screen and (max-width: 1279px) {
    width: fit-content;
    position: static;
    margin-left: auto;
    margin-right: auto;
    translate: 0 !important;
  }
  @media screen and (max-width: 768px) {
    padding: 0;
    border: none;
    border-radius: 0;
    backdrop-filter: none;
    background-color: transparent;
  }

  & > h3 {
    margin-bottom: 11px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    color: #fff;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  & > p {
    max-width: 304px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      max-width: 280px;
    }
  }

  & > img {
    position: absolute;
    top: 46px;
    right: 70px;

    @media screen and (max-width: 768px) {
      width: 22px;
      height: 22px;
      top: 3px;
      right: 45px;
    }
  }
}

.buy__phase-1 {
  top: 238px;
  left: 217px;
}

.buy__phase-3 {
  bottom: 140px;
  left: 50%;
  translate: calc(-50% - 70px) 0;
  & > img {
    top: 42px;

    @media screen and (max-width: 768px) {
      top: -1px;
    }
  }
}

.buy__phase-2 {
  top: 278px;
  right: 230px;
}

.buy__img {
  width: 370px;
  height: 370px;
  position: absolute;
  top: 226px;
  left: 50%;
  translate: -25% 0;
  mix-blend-mode: soft-light;
}
