.header {
  width: 100%;
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 10;

  @media screen and (max-width: 1079px) {
    top: 20px;
  }
}

.header__navigation {
  ul {
    width: min(1440px, 100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;

    @media screen and (max-width: 1079px) {
      width: fit-content;
      height: 41px;
      padding-left: 37px;
      padding-right: 37px;
      border: 1px solid #fff;
      border-radius: 80px;
      justify-content: start;
      align-items: center;
      backdrop-filter: blur(20px);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.21) 0%,
        rgba(102, 102, 102, 0.21) 100%
      );
      font-size: 14px;
      text-transform: capitalize;
    }

    li {
      &:nth-of-type(4) {
        display: none;

        @media screen and (max-width: 1079px) {
          display: block;
          margin-left: 27px;
          margin-right: 27px;
        }
      }
    }

    a {
      position: relative;
      transition: filter 100ms ease;

      &::before {
        content: "";
        width: 0;
        height: 3px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: all 200ms ease;

        @media screen and (max-width: 1079px) {
          display: none;
        }
      }

      &:hover {
        &:before {
          width: 100%;
          left: 0;
        }
      }
      &:active {
        filter: brightness(0.8);
      }
    }
  }
}

.socials {
  @media screen and (max-width: 1079px) {
    display: none;
  }
}
