@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@font-face {
  font-family: "Century Gothic";
  src: url("../public/fonts/centurygothic.ttf");
}
@font-face {
  font-family: "Century Gothic Bold";
  src: url("../public/fonts/centurygothic_bold.ttf");
}

:root {
  --font-family: "Nunito", sans-serif;
  --second-family: "Century Gothic", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: #fff;

  @media screen and (max-width: 768px) {
    background-color: #000;
  }
}

.tooltip {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  display: none;
  transition: all 400ms ease;
  z-index: 21;
}

.tooltip.visible {
  display: block;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
